<h2 mat-dialog-title class="text-center mat-primary-bg">{{'realty.filter.title' | translate}}</h2>
<form [formGroup]="searchForm">
  <div class="realty-filter mt-20" fxLayout="column">
    <div class="form-control" fxLayout="row" fxLayoutAlign="space-between center">
      <span fxFlex="30">{{'realty.filter.sorting.label' | translate}}: </span>
      <mat-form-field fxFlex="60" fxLayoutAlign="center" fxLayout="column">
        <mat-select formControlName="sortingOrder" [placeholder]="'realty.filter.sorting.placeholder' | translate">
          <mat-option>{{'realty.filter.sorting.none' | translate}}</mat-option>
          <mat-option value="title">{{'realty.filter.sorting.title' | translate}}</mat-option>
          <mat-option value="price">{{'realty.filter.sorting.price' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control" fxLayout="row" fxLayoutAlign="space-between center">
      <span fxFlex="30">{{'realty.filter.rooms' | translate}}: </span>
      <mat-form-field fxFlex="60" fxLayoutAlign="center" fxLayout="column">
        <mat-select formControlName="rooms" [placeholder]="'realty.fields.rooms' | translate">
          <mat-option>{{'realty.filter.sorting.none' | translate}}</mat-option>
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
          <mat-option [value]="4">4</mat-option>
          <mat-option [value]="5">5</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-control" fxLayout="row" fxLayoutAlign="space-between center">
      <span fxFlex="30">Price: </span>
      <mat-form-field fxFlex="60" fxLayoutAlign="center" fxLayout="column">
        <input matInput type="number" min="1" max="10000000" formControlName="price">
      </mat-form-field>
    </div>
  </div>
</form>
<div fxLayout="row" fxLayoutAlign="space-around">
  <button mat-raised-button color="gray" mat-dialog-close [mat-dialog-close]="true">{{'buttons.cancel' | translate}}</button>
  <button mat-raised-button color="warn" mat-dialog-close>{{'buttons.reset' | translate}}</button>
</div>
