<div id="forgot-password" fxLayout="column">

  <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/fuse.svg">
      </div>

      <div class="title">  {{'auth.forgotPassword.recoverPassword' | translate}}</div>

      <form name="forgotPasswordForm" [formGroup]="confirmResetPasswordForm" novalidate
            (submit)="confirmResetPassword()">

        <mat-form-field>
          <input matInput type="password" [placeholder]="'auth.fields.password' | translate" formControlName="password">
          <mat-error *ngIf="confirmResetPasswordForm.get('password').hasError('required')">
            {{'auth.fields.password' | translate}} {{'validation.required' | translate}}
          </mat-error>
          <mat-error *ngIf="confirmResetPasswordForm.get('password').hasError('minlength')">
            {{'auth.fields.password' | translate}} {{'validation.minLength' | translate }}
          </mat-error>
          <mat-error *ngIf="confirmResetPasswordForm.get('password').hasError('invalid')">
            {{errors?.password}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" [placeholder]="'auth.fields.confirmPassword' | translate"
                 formControlName="passwordConfirm">
          <mat-error *ngIf="confirmResetPasswordForm.get('passwordConfirm').hasError('required')">
            {{'auth.fields.password' | translate}} {{'validation.required' | translate}}
          </mat-error>
          <mat-error *ngIf="confirmResetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
            {{'auth.fields.passwords' | translate}} {{'auth.validation.match' | translate}}
          </mat-error>
        </mat-form-field>

        <button mat-raised-button class="submit-button" color="accent"
                aria-label="SEND RESET LINK" [disabled]="confirmResetPasswordForm.invalid">
          {{'auth.forgotPassword.reset' | translate}}
        </button>
      </form>

      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/sign-in'">{{'auth.forgotPassword.backToLogin' | translate}}</a>
      </div>

    </div>

  </div>

</div>
