#realty-container {
  height: calc(100vh - 170px);
  overflow: scroll !important;
}
.title:hover {
    color:orange;
  }

  .price{
    font-weight: bold;
    font-size: 24px;
  }

  .description{
    height: 50px;
    overflow: hidden;
  }

  .mat-form-field-wrapper{
    width: 100%;
  }

  .mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: orange;
  }



.filter-btn {
  display: none;
  }

.realty-filter {
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 768px) {
  .filter-btn {
    display: block;
  }
}


