<div id="realty-list">
  <div class="header mat-primary-bg p-24 h-100" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="h2">Realty</div>
    <mat-icon color="white" class="hovered" routerLink="/realty/add" matTooltip="Add realty">add</mat-icon>
  </div>
  <div fxLayoutAlign="space-between">
    <div class="realty-container card" fxLayout="row wrap" fxLayoutAlign.xs="center" infiniteScroll
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="50"
         (scrolled)="loadMore()">
      <div class="fuse-card mt-20 mb-20 mr-20 ml-20" *ngFor="let realty of realty" >
        <img class="hovered" src="assets/images/cards/card1.jpg" [routerLink]="['details',realty.id]">

        <div class="p-16" [routerLink]="['details',realty.id]">
          <div class="h1 title hovered">{{realty.title}}</div>
        </div>
        <div class="ribbon"><span>{{realty.offer}}</span></div>
        <div class="p-16 pt-0 line-height-1.75 description">
          {{realty.description}}
        </div>
        <mat-divider></mat-divider>
        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="price ">{{realty.price}} {{realty.currency}}</div>
          <fa-icon [icon]="['fas', 'building']" size="2x" *ngIf="realty.resourcetype == 'Apartment'"
                   matTooltip="Apartment"></fa-icon>
          <fa-icon [icon]="['fas', 'home']" size="2x" *ngIf="realty.resourcetype == 'Building'"
                   matTooltip="Building"></fa-icon>
          <mat-icon color="orange" *ngIf="!realty.liked">favorite_border</mat-icon>
          <mat-icon color="orange" *ngIf="realty.liked">favorite</mat-icon>
        </div>

      </div>
    </div>
    <app-realty-filter [searchForm]="searchForm" (onReset)="resetFilter()"></app-realty-filter>
  </div>
</div>
