

  .realty-container .title:hover{
    color:orange;
  }

  .price{
    font-weight: bold;
    font-size: 24px;
  }

  .description{
    height: 50px;
    overflow: hidden;
  }

  .realty-filter{
    height: 100%;
    margin-right: 20px;
    float: right;
  }

  .realty-filter > div{
    height: 40px;
    margin-bottom: 20px;
  }

  .form-control{
    padding-right: 20px;
    padding-left: 20px;
  }

  .mat-form-field-wrapper{
    width: 100%;
  }

  .mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: orange;
  }

  .fuse-card {
    position: relative;
  }

  .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
  }

  .ribbon span {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
  }

  .ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
  }

  .ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
  }

  @media only screen and (max-width: 768px){
    .realty-filter{
      display: none!important;
    }
  }
