<div id="favorite-realty">
  <div class="header mat-primary-bg p-24 h-100 " fxLayout="row" fxLayoutAlign="space-between center">
    <div class="h2">Favorite Realty</div>
  </div>
  <div fxLayoutAlign="space-between">
    <div class="realty-container card" fxLayout="row wrap" fxLayoutAlign.xs="center" fxLayoutAlign="space-around">
      <app-realty *ngFor="let realty of realty" [realty]="realty" (onAddToFavorite)="addToFavorite($event)"
                  (onRemoveFromFavorite)="removeFromFavorite($event)"></app-realty>
    </div>
  </div>
</div>
