<div id="realty-details" class="page-layout carded fullwidth inner-scroll scrollable" *ngIf="realty">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="realty-header mat-primary-bg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/realty'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start">
          <div class="subtitle secondary-text">
            <span>{{'realty.details.title' | translate}}</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->


      <button mat-raised-button *ngIf="!isEditable"
              class="save-product-button mat-white-bg mr-20"
              [routerLink]="['/realty/edit',realty.id]">
        <span>{{'buttons.edit' | translate}}</span>
      </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg pt-20">

      <!-- CONTENT -->
      <div class="content">
        <div class="realty" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around">
          <div fxFlex="65" fxFlex.lt-md="100" class="ml-20">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
          <div class="realty-details" fxFlex.lt-md="100">
            <div class="title">{{realty.title}}</div>
            <div class="price">{{realty.price}} {{realty.currency}}</div>
            <div class="area"> {{'realty.fields.area' | translate}} {{realty.area}} m<sup>2</sup></div>
            <div>
              <a [href]="realty.link">{{'realty.details.original' | translate}}</a>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
                 class="realty-property share-btn">
              <div class="share property-header" fxFlex="25">{{'realty.details.share' | translate}}:</div>
              <div class="share" fxFlexAlign="row" *ngIf="sharedUrl">
                <share-button button="facebook" matTooltip="Facebook" [url]="sharedUrl"
                              (click)="onShare($event)"></share-button>
                <share-button button="telegram" matTooltip="Telegram" [url]="sharedUrl"></share-button>
                <share-button button="vk" matTooltip="VK" [url]="sharedUrl"></share-button>
                <share-button button="whatsapp" matTooltip="WhatsApp" [url]="sharedUrl"></share-button>
              </div>
            </div>
            <div fxLayout="row" class="realty-property">
              <div class="property-header">{{'realty.fields.ownerName' | translate}}:</div>
              <div>{{realty.ownerName}}</div>
            </div>
            <div fxLayout="row" class="realty-property">
              <div class="property-header">{{'realty.fields.ownerPhone' | translate}}:</div>
              <div>{{realty.ownerPhone}}</div>
            </div>
            <div fxLayout="row" class="realty-property" *ngIf="realty.resourcetype == 'Apartment'">
              <div class="property-header">{{'realty.fields.floor' | translate}}:</div>
              <div>{{realty.floor}}</div>
            </div>
            <div fxLayout="row" class="realty-property">
              <div class="property-header">{{'realty.fields.resourcetype.label' | translate}}:</div>
              <div>{{'realty.fields.resourcetype.' + realty.resourcetype | lowercase | translate}}</div>
            </div>
            <div fxLayout="row" class="realty-property">
              <div class="property-header">{{'realty.fields.room' | translate}}:</div>
              <div>{{realty.rooms}}</div>
            </div>
            <div fxLayout="row" class="realty-property">
              <div class="property-header">{{'realty.fields.flooring' | translate}}:</div>
              <div>{{realty.flooring}}</div>
            </div>
            <div fxLayout="row" class="realty-property" *ngIf="realty.resourcetype == 'Apartment'">
              <div class="property-header">{{'realty.fields.kitchenArea' | translate}}:</div>
              <div>{{realty.kitchenArea}}</div>
            </div>
            <div fxLayout="row" class="realty-property" *ngIf="realty.resourcetype != 'Apartment'">
              <div class="property-header">{{'realty.fields.fieldArea' | translate}}:</div>
              <div>{{realty.fieldArea}}</div>
            </div>
          </div>
        </div>
        <div class="realty-info">
          <div class="description-header">{{'realty.fields.description' | translate}}</div>
          <div class="description">{{realty.description}}</div>
        </div>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
