<div id="realty-details" class="page-layout carded fullwidth inner-scroll" *ngIf="realty">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="realty-header mat-primary-bg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/realty'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{realty.title}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Realty
          </div>
          <div class="subtitle secondary-text">
            <span>Realty Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->


      <button mat-raised-button *ngIf="!isEditable"
              class="save-product-button mat-white-bg mr-20"
              [routerLink]="['/realty/edit',realty.id]">
        <span>Edit</span>
      </button>

      <button mat-raised-button *ngIf="isEditable"
              class="save-product-button mat-white-bg mr-20"
              (click)="saveRealty()">
        <span>Save</span>
      </button>



    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT -->
      <div class="content">
        <div class="realty" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around">
          <div fxFlex="65" fxFlex.lt-md="100">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
          <div class="realty-details" fxFlex.lt-md="100">
            <div class="title">{{realty.title}}</div>
            <div class="price">{{realty.price}} {{realty.currency}}</div>
            <div class="area"> Area {{realty.area}} m<sup>2</sup></div>
            <div>
              <a [href]="realty.link">Original link</a>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
                 class="realty-property share-btn">
              <div class="share property-header" fxFlex="10">Share:</div>
              <div class="share" fxFlexAlign="row">
                <share-button button="facebook" matTooltip="Facebook"></share-button>
                <share-button button="telegram" matTooltip="Telegram"></share-button>
                <share-button button="vk" matTooltip="VK"></share-button>
                <share-button button="whatsapp" matTooltip="WhatsApp"></share-button>
                <share-button button="email" matTooltip="Email"></share-button>
              </div>
            </div>
            <div fxLayout="row" class="realty-property">
              <div class="property-header">Owner Name:</div>
              <div>{{realty.ownerName}}</div>
            </div>
            <div fxLayout="row" class="realty-property">
              <div class="property-header">Owner Phone:</div>
              <div>{{realty.ownerPhone}}</div>
            </div>
            <div fxLayout="row" class="realty-property" *ngIf="realty.resourcetype == 'Apartment'">
              <div class="property-header">Floor:</div>
              <div>{{realty.floor}}</div>
            </div>
            <div fxLayout="row" class="realty-property">
              <div class="property-header">Resource Type:</div>
              <div>{{realty.resourcetype}}</div>
            </div>
            <div fxLayout="row" class="realty-property">
              <div class="property-header">Rooms:</div>
              <div>{{realty.rooms}}</div>
            </div>
            <div fxLayout="row" class="realty-property">
              <div class="property-header">Flooring:</div>
              <div>{{realty.flooring}}</div>
            </div>
            <div fxLayout="row" class="realty-property" *ngIf="realty.resourcetype == 'Apartment'">
              <div class="property-header">Kitchen Area:</div>
              <div>{{realty.kitchenArea}}</div>
            </div>
            <div fxLayout="row" class="realty-property" *ngIf="realty.resourcetype != 'Apartment'">
              <div class="property-header">Field Area:</div>
              <div>{{realty.fieldArea}}</div>
            </div>
          </div>
        </div>
        <div class="realty-info">
          <div class="description-header">Description</div>
          <div class="description">{{realty.description}}</div>
        </div>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
