<div class="fuse-card mt-20 mb-20 mr-20 ml-20">
  <img class="hovered" [src]="realty.photo || 'assets/images/realty-default-image.jpg'"
       [routerLink]="['/realty/details',realty.id]">

  <div class="p-16 " [routerLink]="['/realty/details',realty.id]">
    <div class="h1 title hovered text-ellipsis">{{realty.title}}</div>
  </div>
  <div class="ribbon"><span>{{'realty.fields.offer.'+realty.offer | lowercase | translate}}</span></div>
  <div class="p-16 pt-0 line-height-1.75 description ">
    {{realty.description}}
  </div>
  <mat-divider></mat-divider>
  <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="price ">{{realty.price}} {{realty.currency}}</div>
    <fa-icon [icon]="['fas', 'building']" size="2x" *ngIf="realty.resourcetype == 'Apartment'"
             [matTooltip]="'realty.fields.resourcetype.apartment' | translate"></fa-icon>
    <fa-icon [icon]="['fas', 'home']" size="2x" *ngIf="realty.resourcetype == 'Building'"
             [matTooltip]="'realty.fields.resourcetype.building' | translate"></fa-icon>
    <mat-icon color="orange" class="hovered" *ngIf="!realty.liked" (click)="addToFavorite(realty)">favorite_border
    </mat-icon>
    <mat-icon color="orange" class="hovered" *ngIf="realty.liked" (click)="removeFromFavorite(realty)">favorite
    </mat-icon>
  </div>

</div>
