<form name="productForm" class="mt-20 mb-20" [formGroup]="realtyForm" novalidate fxLayout="column"
      (ngSubmit)="submit(realtyForm.value)">

  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="stretch">
    <mat-form-field fxFlex="40">
      <mat-label>{{'realty.fields.title' | translate}}</mat-label>
      <input matInput
             name="title"
             formControlName="title"
             [placeholder]="'realty.fields.title' | translate">
      <mat-error *ngIf="realtyForm.get('title').hasError('required')">
        {{'realty.fields.title' | translate}} {{'validation.required' | translate}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('title').hasError('maxlength')">
        {{'realty.fields.title' | translate}} {{'validation.maxLength' | translate}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('title').hasError('invalid')">
        {{errors?.title}}
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="40">
      <input matInput
             name="area"
             type="number"
             min="1"
             formControlName="area"
             [placeholder]="'realty.fields.area' | translate"
      >
      <span matSuffix>m<sup>2</sup></span>
      <mat-error *ngIf="realtyForm.get('area').hasError('required')">
        {{'realty.fields.area' | translate}} {{'validation.required' | translate}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('area').hasError('max')">
        {{'realty.fields.area' | translate}} {{'validation.max' | translate}}1000
      </mat-error>
      <mat-error *ngIf="realtyForm.get('area').hasError('min')">
        {{'realty.fields.title' | translate}} {{'validation.min' | translate}} 0
      </mat-error>
      <mat-error *ngIf="realtyForm.get('area').hasError('invalid')">
        {{errors?.area}}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="1 0 auto" fxLayout.lt-sm="column"
       fxLayoutAlign.lt-sm="stretch">
    <mat-form-field class="w-100-p" fxFlex="40">
      <input matInput
             type="number"
             min="1"
             name="price"
             formControlName="price"
             [placeholder]="'realty.fields.price' | translate"
      >
      <span matSuffix>{{realtyForm.controls['currency'].value}}</span>
      <mat-error *ngIf="realtyForm.get('price').hasError('required')">
        {{'realty.fields.price' | translate}} {{'validation.required' | translate}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('price').hasError('invalid')">
        {{errors?.price}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100-p" fxFlex="40">
      <mat-select formControlName="currency" [placeholder]="'realty.fields.currency' | translate">
        <mat-option [value]="'$'">$</mat-option>
        <mat-option [value]="'€'">€</mat-option>
        <mat-option [value]="'₴'">₴</mat-option>
      </mat-select>
      <mat-error *ngIf="realtyForm.get('currency').hasError('invalid')">
        {{errors?.currency}}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="1 0 auto" fxLayout.lt-sm="column"
       fxLayoutAlign.lt-sm="stretch">
    <mat-form-field class="w-100-p" fxFlex="40">
      <input matInput
             name="ownerName"
             formControlName="ownerName"
             [placeholder]="'realty.fields.ownerName' | translate"
      >
      <mat-error *ngIf="realtyForm.get('ownerName').hasError('required')">
        {{'realty.fields.ownerName' | translate}} {{'validation.required' | translate}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('ownerName').hasError('maxlength')">
        {{'realty.fields.ownerName' | translate}} {{'validation.maxLength' | translate}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('ownerName').hasError('invalid')">
        {{errors?.ownerName}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100-p" fxFlex="40">
      <input matInput
             name="ownerPhone"
             formControlName="ownerPhone"
             [placeholder]="'realty.fields.ownerPhone' | translate"
      >
      <mat-error *ngIf="realtyForm.get('ownerPhone').hasError('required')">
        {{'realty.fields.ownerPhone' | translate}} {{'validation.required' | translate}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('ownerPhone').hasError('pattern')">
        {{'realty.fields.ownerPhone' | translate}} {{'validation.invalid' | translate}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('ownerPhone').hasError('invalid')">
        {{errors?.ownerPhone}}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="1 0 auto" fxLayout.lt-sm="column"
       fxLayoutAlign.lt-sm="stretch">
    <mat-form-field class="w-100-p" fxFlex="40">
      <input matInput
             type="number"
             min="1"
             name="flooring"
             formControlName="flooring"
             [placeholder]="'realty.fields.flooring'| translate"
      >
      <mat-error *ngIf="realtyForm.get('flooring').hasError('required')">
        {{'realty.fields.flooring' | translate}} {{'validation.required' | translate}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('flooring').hasError('max')">
        {{'realty.fields.flooring' | translate}} {{'validation.max' | translate}} 100
      </mat-error>
      <mat-error *ngIf="realtyForm.get('flooring').hasError('min')">
        {{'realty.fields.flooring' | translate}} {{'validation.min' | translate}} 0
      </mat-error>
      <mat-error *ngIf="realtyForm.get('flooring').hasError('invalid')">
        {{errors?.flooring}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100-p" fxFlex="40">
      <input matInput
             type="number"
             min="1"
             name="floor"
             formControlName="floor"
             [placeholder]="'realty.fields.floor' | translate"
      >
      <mat-error *ngIf="realtyForm.get('floor').hasError('required')">
        {{'realty.fields.floor' | translate}} {{'validation.required' | translate}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('floor').hasError('max')">
        {{'realty.fields.floor' | translate}} {{'validation.max' | translate}} 100
      </mat-error>
      <mat-error *ngIf="realtyForm.get('floor').hasError('min')">
        {{'realty.fields.floor' | translate}} {{'validation.min' | translate}} 0
      </mat-error>
      <mat-error *ngIf="realtyForm.get('floor').hasError('invalid')">
        {{errors?.floor}}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="1 0 auto" fxLayout.lt-sm="column"
       fxLayoutAlign.lt-sm="stretch">
    <mat-form-field class="w-100-p" fxFlex="40">
      <mat-select formControlName="offer" [placeholder]="'realty.fields.offer.title' | translate">
        <mat-option [value]="'Sale'">{{'realty.fields.offer.sale' | translate}}</mat-option>
        <mat-option [value]="'Rent'">{{'realty.fields.offer.rent' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100-p" fxFlex="40">
      <mat-select formControlName="resourcetype" [placeholder]="'realty.fields.resourcetype.title' | translate">
        <mat-option [value]="'Building'">{{'realty.fields.resourcetype.building' | translate}}</mat-option>
        <mat-option [value]="'Apartment'">{{'realty.fields.resourcetype.apartment' | translate}}</mat-option>
      </mat-select>
      <mat-error *ngIf="realtyForm.get('resourcetype').hasError('invalid')">
        {{errors?.resourcetype}}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="1 0 auto" fxLayout.lt-sm="column"
       fxLayoutAlign.lt-sm="stretch">
    <mat-form-field class="w-100-p" fxFlex="40">
      <mat-select formControlName="rooms" [placeholder]="'realty.fields.rooms' | translate">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="5">5</mat-option>
      </mat-select>
      <mat-error *ngIf="realtyForm.get('rooms').hasError('invalid')">
        {{errors?.rooms}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100-p" fxFlex="40" *ngIf="isApartment">
      <input matInput
             type="number"
             min="1"
             name="kitchenArea"
             formControlName="kitchenArea"
             [placeholder]="'realty.fields.kitchenArea' | translate"
      >
      <span matSuffix>m<sup>2</sup></span>
      <mat-error *ngIf="realtyForm.get('kitchenArea').hasError('required')">
        {{'realty.fields.kitchenArea' | translate}} {{'validation.required'}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('kitchenArea').hasError('max')">
        {{'realty.fields.kitchenArea' | translate}} {{'validation.max' | translate}} 1000
      </mat-error>
      <mat-error *ngIf="realtyForm.get('kitchenArea').hasError('min')">
        {{'realty.fields.kitchenArea' | translate}} {{'validation.min' | translate}} 0
      </mat-error>
      <mat-error *ngIf="realtyForm.get('kitchenArea').hasError('invalid')">
        {{errors?.kitchenArea}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100-p" fxFlex="40" *ngIf="!isApartment">
      <input matInput
             type="number"
             min="1"
             name="fieldArea"
             formControlName="fieldArea"
             [placeholder]="'realty.fields.fieldArea' | translate"
      >
      <span matSuffix>m<sup>2</sup></span>
      <mat-error *ngIf="realtyForm.get('fieldArea').hasError('required')">
        {{'realty.fields.fieldArea' | translate}} {{'validation.required'}}
      </mat-error>
      <mat-error *ngIf="realtyForm.get('fieldArea').hasError('max')">
        {{'realty.fields.fieldArea' | translate}} {{'validation.max' | translate}} 1000
      </mat-error>
      <mat-error *ngIf="realtyForm.get('fieldArea').hasError('min')">
        {{'realty.fields.fieldArea' | translate}} {{'validation.min' | translate}} 0
      </mat-error>
      <mat-error *ngIf="realtyForm.get('fieldArea').hasError('invalid')">
        {{errors?.fieldArea}}
      </mat-error>
    </mat-form-field>
  </div>


  <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="1 0 auto" fxLayout.lt-sm="column"
       fxLayoutAlign.lt-sm="stretch">
    <mat-form-field class="w-100-p" fxFlex="90">
        <textarea matInput
                  name="description"
                  formControlName="description"
                  [placeholder]="'realty.fields.description' | translate"
                  rows="5">
        </textarea>
      <mat-error *ngIf="realtyForm.get('description').hasError('invalid')">
        {{errors?.description}}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="1 0 auto" fxLayout.lt-sm="column"
       fxLayoutAlign.lt-sm="stretch">
    <file-drop  fxFlex="90" showBrowseBtn ="true" browseBtnClassName="browse-btn" [browseBtnLabel]="'realty.fields.browseBtn' | translate" multiple="true"
               (onFileDrop)="onFileDropped($event)">
    </file-drop>
  </div>
  <div fxLayout="row wrap" class="image-preview-container mt-20 mb-20" fxFlex="80" fxLayoutAlign="center"
       *ngIf="images.length > 0">
    <div *ngFor="let image of images" class="image-list">
      <img class="image-preview mr-20 ml-20 mb-20" [src]="image.photo" alt="">
      <button class="remove-img" (click)="removeImage(image)">X</button>
      <mat-spinner diameter="40" color="accent" class="image-spinner" *ngIf="!image.isLoaded"></mat-spinner>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="1 0 auto" fxFlex.lt-sm="100" class="mt-20">
    <button mat-raised-button color="accent" class="submit-button" type="submit" [disabled]="realtyForm.invalid">
      {{'buttons.save' | translate}}
    </button>
    <button mat-raised-button color="warn" (click)="cancel()">
      {{'buttons.cancel' | translate}}
    </button>
  </div>

</form>
