@import "~src/scss/fuse";

#profile {
  .page-layout{
    overflow: scroll!important;
  }
  .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url('~src/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: cover;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
  .hidden{
    display: none;
  }

  .change-avatar{
    position: absolute;
    left:35px;
    bottom: 4px;
    color:#fff;
    visibility: hidden;
    z-index: 999;
  }

  .profile-picture:hover .change-avatar{
    visibility: visible;
  }
  
  .change-avatar:hover{
    cursor: pointer;
  }

  .profile-picture{
    height: 96px;
    width: 96px;
    border-radius:50%;
    position: relative;
  }
}
