<div id="profile" class="page-layout simple tabbed scrollable" *ngIf="profile">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
          <div class="profile-picture">
            <img class="profile-image avatar huge" [src]="profile?.image || 'assets/images/default-avatar.svg'"
                 [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <mat-spinner diameter="30" color="accent" class="profile-image-spinner" *ngIf="showSpinner"></mat-spinner>

            <mat-icon class="change-avatar" color="white" (click)="avatar.click()">camera_enhance</mat-icon>
          </div>
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{profile?.firstName}} {{profile?.lastName}}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <input #avatar class ="hidden" type="file" #avatar (change)="onAvatarChange($event)" accept="image/*">
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <!-- / CONTENT -->

</div>
