.realty-header {
  height: 75px;
}

#realty-add {
  .center {
    max-height: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  #realty-add {
    .center {
      max-width: 100% !important;
      margin: 0 auto;
      padding: 0 !important;
    }

    .content {
      padding: 10px 20px;
    }
  }
}
