<!-- REACTIVE FORM EXAMPLE -->

<div fxLayout="column no-wrap" class="profile-edit ">
  <form *ngIf= "profile" class="mat-white-bg mat-elevation-z4 p-24"
        name="form" [formGroup]="profileForm" (submit)="save(profileForm.value)">

    <div class="h2 mb-24">{{'profile.profileEdit.title' | translate}}</div>

    <div fxLayout="row"  class="mb-24"  >
      <mat-form-field fxFlex="25" fxFlex.lt-sm="100" >
        <input matInput [placeholder]="'profile.fields.userName' | translate" formControlName="username" >
        <mat-error *ngIf="profileForm.get('username').hasError('required')">
          {{'profile.fields.userName' | translate}} {{'validation.required' | translate}}!
        </mat-error>
        <mat-error *ngIf="profileForm.get('username').hasError('invalid')">
          {{errors?.username}}
        </mat-error>

      </mat-form-field>

    </div>

    <div fxLayout="row"  class="mb-24" >

      <mat-form-field fxFlex="25" fxFlex.lt-sm="100" >
        <input matInput [placeholder]="'profile.fields.firstName' | translate" formControlName="firstName">
        <mat-error *ngIf="profileForm.get('firstName').hasError('required')">
          {{'profile.fields.firstName' | translate}} {{'validation.required' | translate}}!
        </mat-error>
        <mat-error *ngIf="profileForm.get('firstName').hasError('invalid')">
          {{errors?.firstName}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row"  class="mb-24">
      <mat-form-field fxFlex="25" fxFlex.lt-sm="100">
        <input matInput [placeholder]="'profile.fields.lastName' | translate" formControlName="lastName">
        <mat-error *ngIf="profileForm.get('lastName').hasError('required')">
          {{'profile.fields.lastName' | translate}} {{'validation.required' | translate}}!
        </mat-error>
        <mat-error *ngIf="profileForm.get('lastName').hasError('invalid')">
          {{errors?.lastName}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" class="mb-24">
      <mat-form-field fxFlex="25" fxFlex.lt-sm="100">
        <input matInput [placeholder]="'profile.fields.phone' | translate" formControlName="phone">
        <mat-error *ngIf="profileForm.get('phone').hasError('required')">
          {{'profile.fields.phone' | translate}} {{'validation.required' | translate}}!
        </mat-error>
        <mat-error *ngIf="profileForm.get('phone').hasError('pattern')">
          {{'profile.fields.phone' | translate}} {{'validation.invalid' | translate}}!
        </mat-error>
        <mat-error *ngIf="profileForm.get('phone').hasError('invalid')">
          {{errors?.phone}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row"  class="mb-24">
      <mat-form-field fxFlex="25" fxFlex.lt-sm="100">
        <input matInput [matDatepicker]="startDatePicker"  [placeholder]="'profile.profileEdit.birthDate' | translate" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker ></mat-datepicker>
        <mat-error *ngIf="profileForm.get('birthDate').hasError('invalid')">
          {{errors?.birthDate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row"  class="mb-24 btn-" >
      <div fxFlex="25" fxLayoutAlign="space-between" fxFlex.lt-sm="100">
        <button mat-raised-button color="accent" type ="submit" [disabled]="profileForm.invalid">{{'buttons.save'|translate}}</button>
        <button mat-raised-button color="warn" [routerLink]="'/profile/'+profile.id">{{'buttons.cancel' | translate}}</button>
      </div>
    </div>
  </form>
</div>

<!-- / REACTIVE FORM EXAMPLE -->
